<div class="no-body-body mt-4 p-2 p-sm-4 p-md-5">
	<br/><br/>

	<div class="modal-body white z-depth-1 m-0 p-md-5 mx-auto" style="max-width: 500px">

		<h4>Add Loan</h4>
		<br/>

		<form class="form-row">

			<div class="col-sm-6 mb-4">
				<div class="input-field">
					<label>Amount</label>
					<input type="number" name="amount" placeholder="Loan Amount" class="">
				</div>
			</div>
			<div class="col-sm-6 mb-4">
				<div class="input-field">
					<label>Rate</label>
					<input type="number" name="rate" placeholder="Loan Rate" class="">
				</div>
			</div>
			<div class="col-sm-6 mb-4">
				<div class="input-field">
					<label>Period</label>
					<input type="number" name="period" placeholder="Loan Period" class="">
				</div>
			</div>
			<div class="col-sm-6 mb-4">
				<div class="input-field">
					<select name="sus">
						<option value="" >NEVER</option>
						<option value="" >5%</option>
						<option value="" >10%</option>
						<option value="" >25%</option>
						<option value="" >50%</option>
						<option value="" >75%</option>
						<option value="" >100%</option>
					</select>
					<label>Loan not Suspendable</label>
				</div>
			</div>
			<div class="col-12 mb-2 text-right">
				<button class="btn rounded-0">
					ADD
				</button>
			</div>
			
		</form>

	</div>

</div>