<div class="no-body-body mt-4 p-2 p-sm-4 p-md-5">
	<br/><br/>

	<div class="modal-body white z-depth-1 m-0 p-md-5 mx-auto" style="max-width: 500px">

		<h4>Add Wallet</h4>
		<br/>

		<form class="form-row">

			<div class="col-sm-6 mb-4">
				<div class="input-field">
					<select name="gender" multiple>
						<option value="1" >OOX00XIILO</option>
						<option value="2" >LOOXII0II</option>
						<option value="3" >OLLLIO00LL</option>
					</select>
					<label>Wallet Owner(s)</label>
				</div>
			</div>
			<div class="col-sm-6 mb-4">
				<div class="input-field">
					<label>Amount</label>
					<input type="number" name="amount" placeholder="Deposit" class="">
				</div>
			</div>
			<div class="col-12 mb-4">
				<div class="input-field">
					<select name="gender" multiple>
						<option value="" >1M / 10 Years / 17.50%</option>
						<option value="" >10,000 / 1 Month / 0.09%</option>
						<option value="" >200,000 / 2 Years / 2.05%</option>
					</select>
					<label>Add Loan</label>
				</div>
			</div>
			<div class="col-12 mb-2 text-right">
				<button class="btn rounded-0">
					CREATE
				</button>
			</div>
			
		</form>

	</div>

</div>