	<div class="no-body-body mt-4 p-4 p-md-5">
		<br/><br/>

		<div class="d-flex">

			<button class="btn z-depth-0 white grey-text text-darken-4 rounded-0 tabes" onclick="$('.tabes').toggleClass('absent');" >
				Approved
			</button>
			<span class="border border-left">
				
			</span>
			<button class="btn z-depth-0 white grey-text text-darken-4 rounded-0 absent tabes" onclick="$('.tabes').toggleClass('absent');" >
				Pending
			</button>

		</div>

		<div class="z-depth-1 white p-4">

			<div class="table-responsive tabes">

				<table class="">
					
					<tr>
						<th>Ref.</th>
						<th>Holder</th>
						<th>Desc.</th>
						<th>Type</th>
						<th>Timestamp</th>
						<th>Amount</th>
						<th>Fee</th>
						<th>R.Name</th>
						<th>R.Bank</th>
						<th>R.Acc</th>
					</tr>

					<tr>
						<td>#3</td>
						<td>200156789</td>
						<td>ROQEEB OLE; 2114687153</td>
						<td>
							<i>inflow</i>
						</td>
						<td>20/01/2019 09:11:20</td>
						<td>
							<sup><small>NGN</small></sup>3000
						</td>
						<td>
							<sup><small>NGN</small></sup>0.50
						</td>
						<td>Matnex Mix</td>
						<td>UBA</td>
						<td>2114687153</td>
					</tr>

				</table>

			</div>

			<div class="table-responsive tabes absent">

				<table class="">
					
					<tr>
						<th>Ref.</th>
						<th>Holder</th>
						<th>Desc.</th>
						<th>Type</th>
						<th>Timestamp</th>
						<th>Amount</th>
						<th>Fee</th>
						<th>R.Name</th>
						<th>R.Bank</th>
						<th>R.Acc</th>
					</tr>

					<tr>
						<td>#5</td>
						<td>200156789</td>
						<td>ROQEEB OLE; 2114687153</td>
						<td>
							<i>inflow</i>
						</td>
						<td>20/01/2019 09:11:20</td>
						<td>
							<sup><small>NGN</small></sup>3000
						</td>
						<td>
							<sup><small>NGN</small></sup>0.50
						</td>
						<td>Matnex Mix</td>
						<td>UBA</td>
						<td>2114687153</td>
					</tr>

				</table>

			</div>

		</div>

	</div>

	<style type="text/css">
		
		button.tabes.absent {
			color: #9e9e9e !important;
		}
		div.tabes.absent {
			display: none !important;
		}

	</style>