<div class="no-body-body mt-4 p-4 p-md-5">
	<br/><br/>

	<div class="z-depth-1 white p-4">

		<h4>Admin</h4>
		<br/>

		<div class="">

			<div class="position-relative">
				<input id="sch" type="search" class="browser-default form-control form-search" placeholder="Filter Admin">
				<button class="btn btn-sm btn-small bg-transparent z-depth-0 position-absolute" style="top: 0; right: 0" onclick="$('#sch').val(''); $('#sch').focus()">
					<i class="fa fa-times grey-text lighten-4"></i>
				</button>
			</div>

			<br/>

			<div class="table-responsive">

				<table>
					<tr>
						<th>
							ID
						</th>
						<th>
							Name
						</th>
						<th>
							Level
						</th>
						<th>
							Last Active
						</th>
					</tr>
					<tr>
						<td>
							112CQO
						</td>
						<td>
							Matnex Mix
						</td>
						<th>
							LVL114
						</th>
						<td>
							10/12/2019 12:21:56
						</td>
					</tr>
				</table>

			</div>

	</div>

</div>