<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="http://127.0.0.1/picksify/static/minify/materialize.min.css" type="text/css">
		<link rel="stylesheet" href="http://127.0.0.1/picksify/static/minify/bootstrap.min.css" type="text/css">
		<link rel="stylesheet" href="http://127.0.0.1/picksify/static/minify/font-awesome.min.css" type="text/css">
	
		<script src="http://127.0.0.1/picksify/static/minify/jquery.min.js"></script>
		<script src="http://127.0.0.1/picksify/static/minify/materialize.js"></script>
		<script src="http://127.0.0.1/picksify/static/minify/bootstrap.bundle.min.js"></script>
		
		<title>Customer UI Bankify</title>
	</head>
	<body class="grey lighten-3 no-body" style="">

		<div class="h-100 no-side-nav" style="">

			<div class="navbar navbar-light navbar-expand bg-white border-right h-100 flex-lg-column">

				<ul class="navbar-nav flex-lg-column">
					<li class="nav-item mx-2 my-lg-2">
						<a href="" class="nav-link no-link">
							<i class="fa fa-home fa-1x grey-text text-darken-1"></i>
							&nbsp;
							Dashboard
						</a>
					</li>
					<li class="nav-item mx-2 my-lg-2">
						<a href="" class="nav-link no-link">
							<i class="fa fa-folder fa-1x grey-text text-darken-1"></i>
							&nbsp;
							Wallets
						</a>
					</li>
					<li class="nav-item mx-2 my-lg-2">
						<a href="" class="nav-link no-link">
							<i class="fa fa-money fa-1x grey-text text-darken-1"></i>
							&nbsp;
							Withdraw
						</a>
					</li>
				</ul>

			</div>

		</div>

		<div class="navbar navbar-light navbar-expand bg-white border-bottom fixed-top">

			<ul class="navbar-nav ml-auto">
				<li class="nav-item mx-2 dropdown">
					<a href="" class="btn dropdown-toggle">
						<img src="images/profileDefault.png" class="circle" width="25" height="25">
					</a>
				</li>
			</ul>

		</div>