	<div class="no-body-body py-4">
		<br/><br/>

		<div class="row m-0 p-3 p-md-5">

			<div class="col-md-6 col-xl-3 mb-5">

				<div class="text-center border-bottom bg-white p-3 py-lg-5">
					<img src="images/profileDefault.png" class="circle" width="150" height="150">
					<br/><br/>
					<h5>
						ACCNO: <b>2114687153</b>
					</h5>
				</div>

			</div>

			<div class="col-md-6 col-xl-3 order-xl-2">

				<div class="border-bottom bg-white p-4">
					<sup class="align-baseline">NGN</sup>
					<h2 class="d-inline-block">23,500</h2>

					<br/><br/>

					<a href="" class="d-flex badge badge-pill blue darken-1 align-items-center px-2 no-link">
						<span class="fa-lg white-text" style="flex-grow: 1">
							ADD FUNDS
						</span>
						<div class="circle p-3 blue darken-2">
							<i class="fa fa-arrow-right white-text"></i>
						</div>
					</a>

					<br/>

					<a href="" class="d-flex badge badge-pill blue darken-1 align-items-center px-2 no-link">
						<span class="fa-lg white-text" style="flex-grow: 1">
							STATEMENT
						</span>
						<div class="circle p-3 blue darken-2">
							<i class="fa fa-arrow-right white-text"></i>
						</div>
					</a>
				</div>

			</div>

			<div class="col-xl-9 mb-5">

				<div class="border-bottom bg-white p-4">
					<h4>
						Customer Details
					</h4>
					<br/>

					<h5>
						Name: &nbsp;<span class="font-weight-light">
							Jolaosho Abdul Mateen
						</span>
					</h5>
					<h5>
						Address: &nbsp;<span class="font-weight-light">
							445 Mount Eden Road, Mount Eden, Auckland 21 Greens Road RD 2 Ruawai 0592 Main Highway Otaki; 32 Wilson Street 5022 PO Box 39100, Howick CMB C5, Huntly.
						</span>
					</h5>
					<h5>
						Last Transaction: &nbsp;<span class="font-weight-light">
							<a href="">20/10/2019</a>
							view all recent transactions <a href="">here</a>.
						</span>
					</h5>
				</div>

			</div>

			<div class="col-xl-9 order-xl-4">

				<div class="p-4 bg-white border-bottom">

					<h4>Your Wallets</h4>
					<br/>

					<div class="row">

						<div class="col-lg-6 mb-4">

							<div class="purple darken-2 rounded white-text d-flex">

								<div class="p-4" style="flex-grow: 1">
									<h5 class="">
										XXXXXXXOOOOXXXXOO
									</h5>
									<sup>
										NGN
									</sup>
									<h4 class="d-inline-block">
										<b>10,000</b>
									</h4>
								</div>

								<a href="" class="purple p-3 d-flex align-items-center justify-content-between no-link">
									<i class="fa fa-2x fa-arrow-right white-text"></i>
								</a>

							</div>

						</div>

						<div class="col-lg-6 mb-4">

							<div class="yellow darken-2 rounded white-text d-flex">

								<div class="p-4" style="flex-grow: 1">
									<h5 class="">
										XXXXXXXOOOOXXXXOO
									</h5>
									<sup>
										NGN
									</sup>
									<h4 class="d-inline-block">
										<b>105,800</b>
									</h4>
								</div>

								<a href="" class="yellow p-3 d-flex align-items-center justify-content-between no-link">
									<i class="fa fa-2x fa-arrow-right white-text"></i>
								</a>

							</div>

						</div>

						<div class="col-lg-6">

							<div class="green darken-2 rounded white-text d-flex">

								<div class="p-4" style="flex-grow: 1">
									<h5 class="">
										XXXXXXXOOOOXXXXOO
									</h5>
									<sup>
										NGN
									</sup>
									<h4 class="d-inline-block">
										<b>15,308</b>
									</h4>
								</div>

								<a href="" class="green p-3 d-flex align-items-center justify-content-between no-link">
									<i class="fa fa-2x fa-arrow-right white-text"></i>
								</a>

							</div>

						</div>

					</div>

				</div>

			</div>

		</div>

	</div>