<div class="no-body-body p-5">
	<br/><br/>
	<div class="z-depth-1 white px-5 pt-5 pb-2">
		<h3>All Loans</h3>
		<div class="">
			<span class="red lighten-2">
				ended
			</span>
			&nbsp;&nbsp;
			<span class="teal lighten-2">
				active
			</span>
			&nbsp;&nbsp;
			<span class="orange lighten-1">
				suspended
			</span>
		</div>
		<br/>

		<div class="row">

			<div class="col-sm-6 col-lg-4 mb-4">

				<div class="teal lighten-2">
					<a href="?url=loan.html" class="d-block rounded-0 p-4 w-100 text-center white-text no-link">
						<sup class="h5">NGN</sup>
						<span class="d-inline-block align-middle h1 p-0">
							100,000
						</span>
						<small class="d-block h5 d-flex justify-content-center">
							<span>2.05%</span>
							&nbsp;/&nbsp;
							<span>2 years</span>
						</small>
					</a>
				</div>

			</div>

			<div class="col-sm-6 col-lg-4 mb-4">

				<div class="red lighten-2">
					<a href="?url=loan.html" class="d-block rounded-0 p-4 w-100 text-center white-text no-link">
						<sup class="h5">NGN</sup>
						<span class="d-inline-block align-middle h1 p-0">
							10,500
						</span>
						<small class="d-block h5 d-flex justify-content-center">
							<span>0.50%</span>
							&nbsp;/&nbsp;
							<span>2 months</span>
						</small>
					</a>
				</div>

			</div>

			<div class="col-sm-6 col-lg-4 mb-4">

				<div class="red lighten-2">
					<a href="?url=loan.html" class="d-block rounded-0 p-4 w-100 text-center white-text no-link">
						<sup class="h5">NGN</sup>
						<span class="d-inline-block align-middle h1 p-0">
							1,000,000
						</span>
						<small class="d-block h5 d-flex justify-content-center">
							<span>10.25%</span>
							&nbsp;/&nbsp;
							<span>5 years</span>
						</small>
					</a>
				</div>

			</div>

			<div class="col-sm-6 col-lg-4 mb-4">

				<div class="teal lighten-2">
					<a href="?url=loan.html" class="d-block rounded-0 p-4 w-100 text-center white-text no-link">
						<sup class="h5">NGN</sup>
						<span class="d-inline-block align-middle h1 p-0">
							175,300
						</span>
						<small class="d-block h5 d-flex justify-content-center">
							<span>3.05%</span>
							&nbsp;/&nbsp;
							<span>2 years</span>
						</small>
					</a>
				</div>

			</div>

			<div class="col-sm-6 col-lg-4 mb-4">

				<div class="orange lighten-1">
					<a href="?url=loan.html" class="d-block rounded-0 p-4 w-100 text-center white-text no-link">
						<sup class="h5">NGN</sup>
						<span class="d-inline-block align-middle h1 p-0">
							275,000
						</span>
						<small class="d-block h5 d-flex justify-content-center">
							<span>3.75%</span>
							&nbsp;/&nbsp;
							<span>2.5 years</span>
						</small>
					</a>
				</div>

			</div>

		</div>

	</div>
</div>