<div class="no-body-body my-4 p-4 p-md-5">

	<br/><br/>

	<div class="row">

		<div class="col-lg-5 mb-4">

			<div class="white z-depth-1 p-4">

				<h4>Loan Details</h4>
				<p>My Shool Fees Loan at Havard University</p>

				<div class="d-flex justify-content-between h5">
					<span>
						<b>Loan Amount</b>:
					</span>
					<span class="font-weight-light">
						<sup>NGN</sup>2,500,000
					</span>
				</div>

				<div class="d-flex justify-content-between h5">
					<span>
						<b>Used</b>:
					</span>
					<span class="font-weight-light">
						<sup>NGN</sup>1,000,000
					</span>
				</div>

				<div class="d-flex justify-content-between h5">
					<span>
						<b>Rate</b>:
					</span>
					<span class="font-weight-light">
						10.50%
					</span>
				</div>

				<div class="d-flex justify-content-between h5">
					<span>
						<b>Period</b>:
					</span>
					<span class="font-weight-light">
						2.5 years
					</span>
				</div>

				<div class="d-flex justify-content-between h5">
					<span>
						<b>Received</b>:
					</span>
					<span class="font-weight-light">
						20/10/2019
					</span>
				</div>

				<div class="d-flex justify-content-between h5">
					<span>
						<b>Collateral</b>:
					</span>
					<span class="font-weight-light">
						My Son
					</span>
				</div>

				<!--div class="d-flex justify-content-between h5">
					<span>
						<b>Status</b>:
					</span>
					<span class="font-weight-light">
						<i class="fa fa-check green-text"></i>
					</span>
				</div-->

				<div class="d-flex mt-4 red lighten-1 justify-content-center p-4">
					<span><i class="fa fa-times white-text fa-3x"></i></span>
				</div>

			</div>

		</div>

		<div class="col-lg-7">

			<div class="white z-depth-1 p-4">

				<h4>Loan History</h4>
				<div class="table-responsive mt-4">
					<table class="table table-highlight">
						<tr>
							<th>Ref.</th>
							<th>Desc.</th>
							<th>Type</th>
							<th>Timestamp</th>
							<th>Status</th>
							<th>Amount</th>
						</tr>
						<tr>
							<td>200156789</td>
							<td>Received Loan; 2114550055</td>
							<th>CREDIT</th>
							<td>20/01/2019 09:11:20</td>
							<td>
								<small class="badge badge-pill blue lighten-2 white-text px-3 py-2">
									<b>completed</b>
								</small>
							</td>
							<td>
								<sup><small>NGN</small></sup>3000
							</td>
						</tr>
					</table>
				</div>

			</div>
			
		</div>

	</div>

</div>