<div class="p-5 my-5 container">
	<form class="d-block white z-depth-1 p-4 p-lg-5">
		<h3 class="modal-title">Withdraw Funds</h3>

		<div class="form-row mt-3">

			<div class="col-12 mb-4">
				<!--<h5 class="d-inline-block mr-4">Withdrawable:&nbsp;&nbsp;</h5>-->
				<sup>NGN</sup>
				<h4 class="d-inline-block"><b>25000</b></h4>
			</div>

			<div class="col-md-6">
				<div class="input-field">
					<input type="text" name="bacc" placeholder="Bank Account Number">
					<label>To Bank</label>
				</div>
			</div>
			<div class="col-md-6">
				<div class="input-field">
					<select>
						<option>UBA</option>
						<option>GTB</option>
						<option>ZENITH</option>
					</select>
					<label>Bank Name</label>
				</div>
			</div>
			<div class="col-md-6">
				<div class="input-field">
					<input type="number" name="amnt" placeholder="Amount">
					<label>Amount to Withdraw</label>
				</div>
			</div>
			<div class="col-md-6">
				<div class="input-field">
					<select class="">
						<option value="1">OXOOO!01JK:</option>
						<option value="2">O:IIIO!01JK:</option>
					</select>
					<label>From Wallet?</label>
				</div>
			</div>
			<div class="col-md-12">
				<div class="input-field">
					<input type="text" name="pin" placeholder="PIN Confirmation">
					<label>Confirm Your PIN</label>
				</div>
			</div>

		</div>

		<div class="text-right">

			<button class="btn blue darken-2">
				SCHEDULE
			</button>

			<button class="btn ml-4">
				CONFIRM
			</button>

		</div>

	</form>

</div>